SOCIAL_TOKEN_ENCRYPTION_KEY=
SOCIAL_OAUTH_STATE_SECRET=
API_PUBLIC_URL=https://api.asif.to
ADMIN_URL=https://admin.asif.to

META_APP_ID=
META_APP_SECRET=
META_GRAPH_VERSION=v23.0
FACEBOOK_OAUTH_SCOPES=public_profile,pages_show_list,pages_read_engagement,pages_manage_posts

INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_OAUTH_SCOPES=instagram_business_basic,instagram_business_content_publish

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_API_VERSION=202607
