# local mongodb url
# MONGO_URI="mongodb://0.0.0.0:27017/asif"
MONGO_URI="mongodb+srv://asifimam:dsfasdfsadfsd@cluster0.x62bsab.mongodb.net/asif"

NODE_ENV=development
PORT=5000

JWT_SECRET=password@123
JWT_REFRESH_SECRET=1d
JWT_ACCESS_EXPIRY=1d
JWT_REFRESH_EXPIRY=7d
OTP_EXPIRY_MINUTES=10
COOKIE_EXPIRE_DAYS=7
EMAIL_HOST=smtp.zoho.in
EMAIL_PORT=465
EMAIL_USER=noreply@asif.to
EMAIL_PASSWORD="fakepassword"
EMAIL_FROM="asif <noreply@asif.to>"
ADMIN_NOTIFY_EMAIL=admin@asif.to

API_PORT=5000
WEB_PORT=3000
ADMIN_PORT=3001

DEV_API_URL=http://localhost:5000
PROD_API_URL=https://api.asif.to

DEV_CLIENT_URL=http://localhost:3000
PROD_CLIENT_URL=http://157.245.108.229:3000

SERVER_IP="157.245.108.229"


LIVE_KEY_ID =sdfsdfsdaf
LIVE_KEY_SECRET =sdfasdfasdf


TWILIO_RECOVERY="abcdbevdjlksdfjslk"
TWILIO_ACC_SID="abcdkdjfladjflajsdflk"
TWILIO_AUTH_TOKEN="abcdeflkjaflkdjfkl"
TWILIO_PHONE_NUMBER="+1 333333333333"
TWILIO_SERVICE_SID="jfsdlkajfsldkfjlaksdjflkasdjflkj"

# Client-side variables
NEXT_PUBLIC_API_URL=https://asif.to
PROD_API_URL=https://api.asif.to
PROD_CLIENT_URL=https://asif.to


